(:name "bogenherr"
 :url "bogenherr.org"
 :document-root "bogenherr"
 :title "Bogenherr"
 :meta-description "The Bogenherr website written in Common Lisp/Hunchentoot and ClojureScript."
 :databases (:db-bogenherr ("127.0.0.1" "bogenherr" "bogenherr" "password"))
 :mail-mx "mail.ckons.org"
 :mail-from "postmaster@ckons.org"
 :mail-postmaster "postmaster@ckons.org"
 :mail-webmaster "webmaster@ckons.org"
 :mail-info "info@ckons.org"
 :mail-login-notify "me@ckons.org"
 :mail-authentication ("me@ckons.org" "password"))
