body {
    background-color: #161012;
    color: white;
    font-size: 14px;
}

hr {
    border: 1px #ffd081 solid;
    width: 200px;
}

a {
    color: #ffd081;
}

.container-fluid {
    width: 100%;
    margin: 20px auto;
}

.table {
    color: white;
}

.nav-link {
    color: white;
    cursor: pointer;
    cursor: hand;
}

.nav-pills {
    .nav-link.active,
    .show > .nav-link {
        background-color: #59200e;
    }
}

.well {
    background-color: #2c180d;
    border: 1px black solid;
    text-align: center;
}

.btn,
.btn-primary,
.dropdown-toggle {
    color: white;
    background-color: #59200e;
    border-color: #59200e;
    &:hover {
        color: white;
        background-color: #59200e;
        border-color: #59200e;
    }
}

.show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #59200e;
    border-color: #59200e;
}

.dropdown-menu {
    color: white;
    background-color: #59200e;
}

.dropdown-item {
    color: white;
    background-color: #59200e;
}

.banner {
    height: 90px;
    background-image: url("/static/images/violin-strip.jpg");
    background-repeat: repeat;
    background-position: left;
}

.banner-title {
    width: *;
    color: #59200e;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.banner-menu {
    width: 150px;
    text-align: left;
    vertical-align: top;
}

.form-control {
    width: 600px;
    background-color: #ffd081;
}

.contact-info {
    color: #59200e;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.4;
}

.modal-content {
    background-color: #161012;
}

#body {
    min-height: 500px;
}

#footer {
    font-size: 14px;
    text-align: center;
}
