services:
  bogenherr:
    image: bogenherr:v0.1
    tty: true
    build:
      context: .
      args:
        OLO_USERNAME: ${OLO_USERNAME}
        OLO_GROUPNAME: ${OLO_GROUPNAME}
        OLO_UID: ${OLO_UID}
        OLO_GID: ${OLO_GID}
    network_mode: "host"
    container_name: bogenherr
    volumes:
      - type: bind
        source: ~/.m2
        target: /home/${OLO_USERNAME}/.m2
      - type: bind
        source: ~/.bashrc
        target: /home/${OLO_USERNAME}/.bashrc
      - type: bind
        source: ~/.bash_history
        target: /home/${OLO_USERNAME}/.bash_history
      - type: bind
        source: ~/.vimrc
        target: /home/${OLO_USERNAME}/.vimrc
      - type: bind
        source: ~/.gitconfig
        target: /home/${OLO_USERNAME}/.gitconfig
      - type: bind
        source: ~/.ssh
        target: /home/${OLO_USERNAME}/.ssh
      - type: bind
        source: /etc/hosts
        target: /etc/hosts
      - type: bind
        source: /etc/ssh
        target: /etc/ssh
      - type: bind
        source: /var/log/lisp
        target: /var/log/lisp
    environment:
      - TERM=xterm-256color
      - https_proxy=${https_proxy}
      - http_proxy=${http_proxy}
      - no_proxy=${no_proxy}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
     command: [ "/bin/bash -l -c" ]
